$max-value: 100%;
$min-value: 0;
$max-px: 100px;
$half-px: 50px;
$fifth-px: 20;
$pos-c: center;
$color-unearth: beige;
$color-neutral: white;
$dis-in: inline-block;
$dis-b: block;



.jumbotron {
    padding: 30px;
    background-image: url(/img/unearthbg.jpg);
    color: white;
}

h1 {
    font-size: $max-px;
}

h2 {
    font-size: $half-px;
}

.navbar {
    background-color: $color-unearth;
    font-size: $fifth-px;
}

#wallpaper {
    width: 100%;
    padding: 1rem;
}

ul {
    display: $dis-in;
    justify-content: space-between;
    width: $max-value;
    text-align: $pos-c;
    
}

li {
    display: inline-block;
}

h4 {
    text-align: $pos-c;
}

.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: $dis-b;
    width: $max-value;
}

.image__overlay {
    position: absolute;
    top: $min-value;
    left: $min-value;
    width: $max-value;
    height: $max-value;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    flex-direction: column;
    align-items: $pos-c;
    justify-content: $pos-c;
    opacity: $min-value;
}

.image__overlay:hover {
    opacity: 1;
    transition: opacity 1s;
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    overflow-y: scroll;
    height: 300px;
}

.carousel {
    margin-top: $max-px;
}

.d-block {
    font-size: $fifth-px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa {
    line-height: inherit !important;
    height: $max-value;
    vertical-align: middle;
}

.nav-link {
    font-size: $fifth-px;
}

.site-footer {
    background-image: linear-gradient($color-unearth, $color-neutral);
    padding: $fifth-px, $min-value;
    margin-top: 450px;
}

.list-unstyled {
    padding-right: 400px;
    display: grid;
}

#homeCarousel {
    border: 10px solid $color-unearth;
}

header {
    div {
        backdrop-filter: blur(2px);
    }
}
