.jumbotron {
  padding: 30px;
  background-image: url(/images/unearthbg.jpg);
  color: white; }

h1 {
  font-size: 100px; }

h2 {
  font-size: 50px; }

.navbar {
  background-color: beige;
  font-size: 20; }

#wallpaper {
  width: 100%;
  padding: 1rem; }

ul {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  text-align: center; }

li {
  display: inline-block; }

h4 {
  text-align: center; }

.image {
  position: relative;
  width: 400px; }

.image__img {
  display: block;
  width: 100%; }

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0; }

.image__overlay:hover {
  opacity: 1;
  transition: opacity 1s; }

.image__title {
  font-size: 2em;
  font-weight: bold;
  overflow-y: scroll;
  height: 300px; }

.carousel {
  margin-top: 100px; }

.d-block {
  font-size: 20;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.fa {
  line-height: inherit !important;
  height: 100%;
  vertical-align: middle; }

.nav-link {
  font-size: 20; }

.site-footer {
  background-image: linear-gradient(beige, white);
  padding: 20, 0;
  margin-top: 450px; }

.list-unstyled {
  padding-right: 400px;
  display: grid; }

#homeCarousel {
  border: 10px solid, beige; }

header div {
  backdrop-filter: blur(2px); }
